* {
  box-sizing: border-box;
  background-color: #050061;
}

header {
  margin: 0;
  padding-top: 10px;
  text-align: center;
  font-family: Lucida Console, Courier New, monospace;
  font-size: 45pt;
  font-weight: bold;
  color: #050061;
  letter-spacing: 2em;
  background-color: #03e3fc;
  position: absolute;
    width:100%;
    top:0px;
}

div.ChatBar{
  margin-left: 25%;
  margin-right: 25%;
  width:45%;
    position: absolute;
    top: 57%;
}

div.ChatBar Button{
  background-color: #03e3fc;
}

div.ChatLog p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: #050061;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #03e3fc;
  margin-left: 25%;
  margin-right: 25%;
  padding: 15px;
  width:45%;
    position: absolute;
    top: 65%;
}

div.NewLine {
  white-space: pre-wrap;
  background-color: #ffffff;
}
